<!DOCTYPE html>
<html lang="nl">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <%- include('../partials/logged-in'); %>
    </header>
    <main class="background_img">
        <div class="overlay"></div>
        <section class="active_users">
            <h3>Vind nu je Apres Ski maatje</h3>
            <div>
                <article>
                    <% users.forEach((users, index) => { %>
                        <li>
                            <% if(users.img){ %>
                                <img src="../../uploads/images/<%= users.img %>" alt="user image">
                                <p><%= users.name %></p>
                            <form action="/like" method="POST">
                                <input type="hidden" name="userID" value="<%= users.userID %>">
                                <input type="submit" value="like">
                            </form>
                            <% } else{ %>  
                                <img src="../../img/no-user.png" alt="no user image">
                                <p><%= users.name %></p>
                            <form action="/like" method="POST">
                                <input type="hidden" name="userID" value="<%= users.userID %>">
                                <input type="submit" value="like">
                            </form>
                            <% } %>
                            
                        </li>
                    <% }) %>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>