<!DOCTYPE html>
<html lang="nl">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main class="background_img">
        <section class="search">
            <h1>Nooit meer alleen zijn tijdens je wintersport,</h1>
            <h2>Vind jou perfecte match voor de apres ski!</h2>
            <div>
                <a href="/register">Begin met zoeken!</a>
                <a href="/login">Ik ben al lid</a>
            </div>
        </section>
        <div class="overlay"></div>
    </main>
    <section class="active_users">
        <h3>Actieve gebruikers</h3>
        <div>
            <article>
                <% users.forEach(function(users) { %>
                    <div>
                        <% if(users.img){ %>
                            <img src="../../uploads/images/<%= users.img %>" alt="user image">
                            <div>
                                <p><%= users.name %></p>
                            </div>
                        <% } else{ %>  
                            <img src="../../img/no-user.png" alt="no user image">
                            <div>
                                <p><%= users.name %></p>
                            </div>
                        <% } %>
                    </div>
                <% }) %>
            </article>
        </div>
    </section>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>